<div class="container">
    <h1>Employees List</h1>
    <input class="form-control" type="text" placeholder="Search" [(ngModel)]="searchText">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Firstname</th>
                    <th scope="col">Middlename</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Department</th>
                    <th scope="col">Senior</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeesList | searchPipe:searchText">
                        <td>{{employee["FirstName"]}}</td>
                        <td>{{employee["MiddleName"]}}</td>
                        <td>{{employee["LastName"]}}</td>
                        <td>{{employee["Gender"]}}</td>
                        <td>{{employee["DateOfBirth"]}}</td>
                        <td>{{employee["Department"]}}</td>
                        <td>{{employee["Senior"]}}</td> 
                </tr>
            </tbody>
        </table>
</div>
