<div class="container">
    <h1>Employees List</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Firstname</th>
                    <th scope="col">Middlename</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Department</th>
                    <th scope="col">Senior</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Suvidha</td>
                    <td>Omkar</td>
                    <td>Nakhawa</td>
                    <td>Female</td>
                    <td>15/7/1983</td>
                    <td>IT</td>
                    <td>ABC</td>
                </tr>
            </tbody>
        </table>
</div>
