.container{
    background-color: lightgrey;
    border-color: grey;
    margin-top: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

